body {
  background-color: #cee5f2;
}
header {
  background-color: #536b78;
  color: rgb(151, 151, 151);
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 2fr;
}
h1 {
  grid-column: 2/3;
  font-size: 50px;
}
#profilePic {
  grid-column: 4/5;
  max-width: 80%;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h2,
ul {
  grid-column: 2/3;
  justify-items: center;
}
footer {
  background-color: #536b78;
  color: rgb(151, 151, 151);
  text-align: center;
}
