body {
  background-color: #F6F1D1;
  color: #70A9A1;
  font-family: 'Roboto', sans-serif;
}
header,
main,
footer {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

header,
footer {
  padding: 1.5rem;
  background-color: #0B2027;
}

#profilePic {
  max-width: 250px;
  height: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}

main {
  text-align: center;
  color: black;
}
main a{
  color: black;
}
main ul {
  display: inline-block;
}

footer,
a {
  text-align: center;
}
footer a{
  color: #70A9A1;
}
