body {
  font-family: "Oxygen", sans-serif;
  background-color: #f6f1d1;
  text-align: center;
  max-width: 1000px;
  margin: 10px auto;
  /* font-display: swap; */
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
header {
  display: flex;
  flex-direction: column;
}
header img {
  max-width: 200px;
  align-self: center;
}
header p {
  font-weight: bold;
  font-size: 1.5rem;
}
nav {
  background-color: #0b2027;
  color: #70a9a1;
  font-size: 1.5rem;
  padding: 2px;
}
nav a,
footer a {
  color: #70a9a1;
  text-decoration: none;
}

.navigation {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
}
footer {
  padding: 1rem 0;
  color: #70a9a1;
  background-color: #0b2027;
}
footer p {
  margin: 0;
}
.navigation li {
  display: none;
}
.navigation li:first-child {
  display: block;
}
li:hover,
a:hover {
  /* this isn't the best. the text doesn't change color when i am in near proximity to it, just directly on it, which makes sense. I just don't know how to make it work better. */
  background-color: #70a9a1;
  color: #0b2027;
}
.responsive li {
  display: block;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
.hero {
  position: relative;
}
.heroImg {
  width: 100%;
  grid-column: 1/2;
}
.curSum {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #70a9a1;
  text-align: right;
  grid-column-gap: 15px;
  padding: 10px;
}
.curHead {
  grid-column: 1/3;
  text-align: center;
}
.curSum p {
  margin: 2px;
}
.curStats {
  text-align: left;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  border-right: 1px solid #333;
  margin: 1.5rem auto;
}
.flex-col {
  flex: 1 1 auto;
  color: #70a9a1;
  background-color: #0b2027;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
.flex-col:hover {
  opacity: 0.75;
  background-color: black;
  color: white;
}
.data {
  padding: 0.5rem;
}
.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #333;
  text-align: center;
}
.sun {
  max-width: 100px;
  margin: 0px auto;
}
.active {
  color: white;
  font-weight: bold;
}
article {
  background-color: #bec7ca75;
  margin: 10px 0;
  padding: 1.5rem;
  font-size: 1.5rem;
}
article p {
  text-align: left;
}
.imgFloat,
.mapFloat {
  width: 50%;
  min-width: 200px;
}
.alert {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #0b2027;
  color: #eb2012;
  text-align: center;
  padding: 25px 0;
  border: 5px dashed #eb2012;
}

/*gallery */
picture {
  margin: 0 0 1rem 1rem;
}
.card {
  display: inline-block;
  margin: 1rem 1rem 0 0;
  max-width: 320px;
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 5px;
  background-color: #0b2027;
  color: #70a9a1;
  overflow: hidden;
}
.lastVisit{
  background-color: #0b2027;
  color: #70a9a1;
  padding: 1rem;
  font-size: larger;
  margin:0 auto;
}
