 body {
  font-family: "Oxygen", sans-serif;
  background-color: #f6f1d1;
  text-align:center;
  max-width: 1000px;
  margin: 10px auto;
}
h1 {
  font-size: 2.5rem;
 }
 h2{
   font-size: 2rem;
 }
header {
  display: flex;
}
header img {
  max-width: 200px;
}
nav {
  background-color: #0b2027;
  color: #70a9a1;
  font-size: 1.5rem;
  padding: 2px;
}
nav a,
footer a {
  color: #70a9a1;
  text-decoration: none;
}

.navigation {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
}
footer {
  padding: 1rem 0;
  color: #70a9a1;
  background-color: #0b2027;
}

.navigation li{
  display:  none;
}
.navigation li:first-child{
  display: block;
}
.responsive li {
  display: block;
}