@media only screen and (min-width: 1200px) {
  body {
    max-width: 1100px;
  }
  header img {
    max-width: 300px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .card:hover {
    box-shadow: 1px 1px 4px 1px #888;
  }
  /* ----- home ----- */
  .localInfo article {
    flex-direction: column;
    width: 300px;
    margin: .5rem;
  }

  .localInfo article:nth-child(odd) {
    flex-direction: column;
  }

  .localInfo {
    justify-content: space-evenly;
  }
}
