@media only screen and (min-width: 900px) {
  h2 {
    text-align: left;
    padding-left: 3rem;
  }
  .navigation {
    display: flex;
  }
  .navigation li:first-child{
    display:none;
}
  .navigation li{
    display:  block;
    flex: 1 1 auto;
  }
  .curSum{
    position: absolute;
    top: 30px;
    left: 30px;
    opacity: 90%;
    padding: 10px;
  }
  .imgFloat {
    float: right;
    margin-left: 1.5rem;
  }
  .mapFloat{
    float: left;
    margin-right: 1.5rem;
  }
}
