body {
  font-family: "Oxygen", sans-serif;
  background-color: #f6f1d1;
  text-align: center;
  max-width: 1000px;
  margin: 10px auto;
  /* font-display: swap; */
}
h1 {
  font-size: 2.5rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: .5rem;
  margin-bottom: 0;
}
h3{
  font-size: 1.5rem;
}
header {
  display: flex;
  flex-direction: column;
}
header img {
  max-width: 200px;
  align-self: center;
}
header p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
header div{
  margin: auto 1rem;
}
nav {
	margin: 0 auto;
	font-size: 1.25rem;
	background-color: #0b2027;
	color: #70a9a1;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #70a9a1;
	font-weight: 700;
	transition: 0.45s;
}
.navigation a:hover {
	color: #0b2027;
	background-color: #70a9a1;
}
.navigation .active {
  color: white;
  font-weight: bold;
}
.responsive li {
	display: block;
}
footer {
  padding: 1rem 0;
  color: #70a9a1;
  background-color: #0b2027;
  margin: .5rem 0 0 0;
}
footer p {
  margin: 0;
}
footer a {
  color: #70a9a1;
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
.hero {
  position: relative;
}
.heroImg {
  width: 100%;
  grid-column: 1/2;
  margin-top:1rem;
}
.localEvents{
  margin: 1rem auto;
  width: 100%;
  border: 3px dashed #70a9a1;
  margin: 1rem auto;
  background-color: #0b2027;
  color: #70a9a1;
}
.localEvents h2{
  padding: 0;
  text-align: center;
}
.localEvents p{
  text-align: left;
  padding: 0 1rem;
}
.curHead {
  grid-column: 1/3;
  text-align: center;
  padding: 0;
  margin: 0 0 .5rem 0;
}
.curSum {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #70a9a1;
  text-align: right;
  grid-column-gap: 15px;
  padding: 10px;
}
.curSum p {
  margin: 2px;
}
.curStats {
  text-align: left;
}
.forecast {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 1.5rem auto;
}
.flex-col {
  flex: 1 1 auto;
  color: #70a9a1;
  background-color: #0b2027;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
}
.flex-col:hover {
  opacity: 0.75;
  background-color: black;
  color: white;
}
.forecast img{
  margin: 0 auto;
}
article {
  FONT-VARIANT: JIS04;
  background-color: #bec7ca75;
  margin: 10px 0;
  padding: 1rem;
  font-size: 1.25rem;
}
article p {
  text-align: left;
}
.imgFloat,
.mapFloat {
  width: 50%;
  min-width: 130px;
}
.mapFloat{
  max-width: 250px;
}
.socialCopy p{
text-align: left;
}
.socialCopy div{
  text-align: left;
}
.social{
  max-width: 30px;
}
.alert {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #0b2027;
  color: #eb2012;
  text-align: center;
  padding: 25px 0;
  border: 5px dashed #eb2012;
}

/*gallery */
.gallery {
  margin: 0 0 1rem 1rem;
}
.card {
  display: inline-block;
  margin: 1rem 1rem 0 0;
  border-radius: 5px;
  background-color: #0b2027;
  color: #70a9a1;
  overflow: hidden;
}
.card img{
  width: 300px;
  height: 400px;
}
.lastVisit{
  background-color: #0b2027;
  color: #70a9a1;
  padding: 1rem;
  font-size: larger;
  margin:0 auto;
}

/* ----- Form ----- */
form label, form div, form button{
  display: block;
  margin: 1rem;
  text-align: left;
}
.SCArticle{
  display: none;
 }
form input, form select, form textarea{
  display: block;
  padding: 1rem;
  margin-top: 5%;
  width: 90%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(224, 224, 224);
}
[type="radio"]{
  display: inline-block;
  width: auto;
}

input:required{
  border: 3px dotted red;
}
input:required:valid{
  border: 1px solid rgb(3, 173, 230);
}
fieldset{
  margin: 1rem;
  border-radius: 8px;
}
legend{
  padding: .5rem;
  font-size: 1.5rem;
  font-weight:bold;
}
form button{
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #0b2027;
  color: #70a9a1;
  border-radius: 8px;
}

/* ----- Home ----- */
.localInfo h2, .localInfo h3{
  padding-left: 0;
  
}
.localInfo article{
  max-width: 75%;
  margin: .5rem auto;
}
.localInfo img{
  width:100%;
  min-width: 300px;
}
