body {
  font-family: "Oxygen", sans-serif;
  background-color: #f6f1d1;
  color: black;
}
header,
main,
footer {
  max-width: 900px;
  margin: 0 auto;
}
header,
footer {
  padding: 1.5rem;
  background-color: #0b2027;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  color: #70a9a1;
}
nav a, footer a{
  color: #70a9a1;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

nav ul li a{
    display: block;
}
