@media only screen and (min-width: 600px) {
  /* Home */
.ad {
  flex-direction: row;
  flex-wrap: wrap;
}
  /* Directory */
  .card {
    width: 300px;
  }
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* contact */
  iframe {
    width: 550px;
    height: 413px;
  }
}
