@media only screen and (min-width: 1000px) {
  header {
    flex-flow: row;
    justify-content: space-between;
  }
  header img {
    width: 75px;
    flex: 0 0 auto;
  }
  nav {
    flex: 1 1 auto;
    box-shadow: none;
    background-color: #fff;
    align-self: flex-end;
    max-width: 800px;
  }
  nav ul li a {
    color: black;
    font: 1rem;
  }
  .join {
    flex: 0 0 auto;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    display: block;
    flex: 1 1 auto;
  }
  nav ul a {
    text-align: center;
  }
  nav ul li:first-child {
    display: none;
  }
}
